@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(./images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%) ;
    font-size: 16px;
}
main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
    padding: 10%;
}
#left{
    flex: 50%;
    padding: 5%;
}
#right{
    flex: 50%;
    padding:5%;
}
h1{
    font-weight: 700;
    font-size: 48px;
    color: hsl(0, 0%, 95%);
    margin-bottom: 20px;
}
#left p{
    font-weight: 500;
    color: hsl(0, 0%, 95%);
}
#top-button{
    width: 100%;
    padding: 16px 28px;
    background-color: hsl(248, 32%, 49%);
    color: hsl(0, 0%, 95%);
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px #dc6666;
    margin-bottom: 30px;
    /* font-weight: 400; */
    font-size: 16px;
}
#top-span{
    font-weight: 700;
}
form{
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 10px;
    padding: 5%;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 0 8px #dc6666;
}
input{
    width: 100%;
    padding: 16px 28px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid hsl(246, 25%, 77%);
    background-color: hsl(0, 0%, 95%);
    outline: none;
    
}
input:focus{
    border:    2px solid hsl(248, 32%, 49%);
}
input:not(:placeholder-shown):invalid{
    background: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: 80%;
    border: 2px solid hsl(0, 100%, 74%);
}
#low-button{
    background-color: hsl(154, 59%, 51%);
    box-shadow: 0 5px #55b081;
    border: none;
    color: hsl(0, 0%, 95%);
    font-weight: 600;
    cursor: pointer;
}
#low-button:hover{
    opacity: 80%;
}
#low-span{
    color: hsl(0, 100%, 74%);
    font-weight: 600;
    font-size: 12px;
}
#terms{
    color: hsl(246, 25%, 77%);
    font-weight: 600;
    font-size: 12px;
}
input:not(:placeholder-shown):invalid + #warning-fname{
    width: 100%;
    text-align: right;
    padding: 10px;
    font-size: 12px;
    color: hsl(0, 100%, 74%);
}
input:not(:placeholder-shown):invalid + #warning-lname{
    width: 100%;
    text-align: right;
    padding: 10px;
    font-size: 12px;
    color: hsl(0, 100%, 74%);
}
input:not(:placeholder-shown):invalid + #warning-pass{
    width: 100%;
    text-align: right;
    padding: 10px;
    font-size: 12px;
    color: hsl(0, 100%, 74%);
}
input:not(:placeholder-shown):invalid + #warning-email{
    width: 100%;
    text-align: right;
    padding: 10px;
    font-size: 12px;
    color: hsl(0, 100%, 74%);
}
#warning-fname,#warning-lname,#warning-pass,#warning-email{
    color: hsl(0, 0%, 95%);
}

@media  screen and (max-width:732px) { 
    body{
    background-image: url(./images/bg-intro-mobile.png);
    }
    h1{
        text-align: center;
    }
    #left p{
        text-align: center;
    }
    #terms{
        text-align: center;
    }
    
}
    

